<%# <h1>Sign In</h1>

<%= form_with url: "/accounts/sign_in", method: 'post' do |form|%>
    <%# <div class="mb-3">
        <%= form.label :email %>
        <%# <%= form.text_field :email, class:"form-control", placeholder: "example@mail.com"%>
    <%# </div> %>
    <%# <div class="mb-3"> %>
        <%# <%= form.label :password %>
        <%# <%= form.text_field :password, class:"form-control", placeholder: "password"%>
    <%# </div> %>
    <%# <div class="mb-3"> %>
        <%# <%= form.submit "Sign In", class:"btn btn-primary" %>
    <%# </div> %>
<%# <%end %>