<%# Data Table %>
<div class="border-b shadow-md border-gray-400 h-full">
    <table class="table-fixed border-collapse text-sm">
        <thead class="border-b-2 border-gray-300 shadow-md text-lg">
            <tr class="border-b text-gray-700 dark:text-gray-50">
                <th><%= check_box_tag "",nil,nil,class: 'checkbox_all'%></th>
                <th class="w-2/12">ชื่อวง</th>
                <th class="w-2/12 hidden md:table-cell">ประเภท</th>
                <th class="w-2/12 ">ยอดส่ง</th>
                <th class="w-3/12 hidden md:table-cell md:w-72">เงินต้น</th>
                <th class="w-2/12">งวดต่อไป</th>
                <th class="w-3/12">จัดการ</th>
            </tr>
        </thead>
        <tbody class="text-center text-gray-700 dark:text-gray-50 border-none">
            <% @wongs.each do |w,index|%>
                <tr class="">
                    <td><%= check_box_tag "",nil,nil,id: w.id, class: 'checkbox'%></td>
                    <td class=" break-all hover:text-blue-500 
                    cursor-pointer">
                        <a data-method="get" href= <%= wongshare_path(w.id,:baanId =>@baanId) %> 
                        class="md:py-4 block">
                            <%= w.name %>
                        </a>
                    </td>
                    <td class="hidden md:table-cell md:py-4 break-all"><%= w.wong_type%></td>
                    <td class="md:py-4"><%= w.interest%></td>
                    <td class="hidden md:table-cell md:py-4"><%= w.deposite%></td>
                    <td class="md:py-4"><%= w.nextCycle().strftime('%d/%m')%><span class="inline md:hidden"><%= w.nextCycle().strftime('/%y')%></span><span class="hidden md:inline"><%= w.nextCycle().strftime('/%Y')%></span></td>
                    <td class="md:py-4 flex flex-col md:flex-row p-1 items-center justify-center">
                        <% if w.isActionDay() && w.status == false%>
                            <%= button_to "ส่ง", pay_baanshare_path(w_id: w.id), method: :post , remote: true,
                            class: "min-w-max flex-none 
                                md:mr-2 mb-1 md:mb-0 
                                transition-all duration-200 
                                border border-green-500 rounded-sm
                                mx-1 px-4 cursor-pointer 
                                text-md text-gray-100 
                                bg-green-500
                                hover:text-white hover:bg-green-600 hover:border-green-600
                                shadow-md"
                            %>
                        <%else%>
                            <%= button_to "ส่ง", pay_baanshare_path(w_id: w.id), method: :post , remote: true,
                            class: "pointer-events-none min-w-max flex-none 
                                md:mr-2 mb-1 md:mb-0 
                                transition-all duration-200 
                                border border-gray-300 rounded-sm
                                mx-1 px-4 cursor-pointer 
                                text-md text-gray-100 
                                bg-gray-300
                                dark:bg-gray-800
                                shadow-md"
                            %>
                        
                        <%end%>
                        <%= form_with model: w, url: bit_wongshare_path(id: w.id,baanId: @baanId), method: :post, class: " flex flex-row justify-center" do |form|%>
                            <%if w.bit == 0 && w.isActionDay() && w.getCurrentCycle != 0%>
                                    <%= form.text_field :bit, placeholder: "ราคาบิท", class: "w-full mx-3 my-1 md:my-0 md:mx-0 px-1 
                                    transition-all duration-200 
                                    text-xs text-center 
                                    border rounded-sm outline-none
                                    dark:bg-gray-800" %>
                                    <%= form.submit "บิท", class: "hidden md:block min-w-max 
                                    transition-all duration-200 
                                    border border-green-500 rounded-sm
                                    mx-1 px-4 cursor-pointer 
                                    text-md text-gray-100 
                                    bg-green-500
                                    hover:text-white hover:bg-green-600 hover:border-green-600
                                    shadow-md" %>
                            <%else%>
                                    <%= form.text_field :bit, placeholder: "ราคาบิท", class: "pointer-events-none opacity-90 w-full mx-3 my-1 md:my-0 md:mx-0 px-1 
                                    transition-all duration-200 
                                    text-xs text-center 
                                    border rounded-sm outline-none
                                    dark:bg-gray-800" %>
                                    <%= form.submit "บิท", class: "pointer-events-none opacity-90 hidden md:block min-w-max 
                                    transition-all duration-200 
                                    border border-gray-300 rounded-sm
                                    mx-1 px-4 cursor-pointer 
                                    text-md text-gray-100 
                                    bg-gray-300
                                    dark:bg-gray-800
                                    hover:text-white hover:bg-green-600 hover:border-green-600
                                    shadow-md" %>
                            <%end%>
                        <%end%>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>