<div class="flex flex-col w-full">
    <%# Action bar %>
    <div class="flex justify-end my-3 ">
        <%= button_to 'ส่งทั้งหมด', pay_all_baanshare_path, method: :post , remote: true,
        class: "min-w-max 
        transition-all duration-200 
        border rounded-sm border-8 border-green-500 
        px-4 mx-1 
        cursor-pointer
        bg-green-500
        text-md text-gray-100
        hover:text-white hover:bg-green-600
        shadow-md"
        %>
        <%= link_to "สร้างวง", wongshare_new_path(baanId: @baanId), :class => "min-w-max 
        transition-all duration-200 
        border rounded-sm border-8 border-blue-500 
        px-4 mx-1
        cursor-pointer
        bg-blue-500 
        hover:text-white hover:bg-blue-600
        text-md text-gray-100
        shadow-md"%>
    </div>
    <div class='contain'>
        <%=render partial: 'table', locals:{wongs:@wongs, baanId:@baanId}, class:'partial'%>
    </div>
    
        <%= button_tag 'ลบ', class:'del-btn flex justify-end',data: {confirm: "ยืนยันการลบวง?"}, remote: true%>
</div>
<%= javascript_pack_tag 'selectall', 'data-turbolinks-track': 'reload' %>
