<div class="flex flex-col w-full">
    <h1>show baan number <%=@baanId%></h1>

    <%# Action bar %>
    <div class="flex justify-end mb-3 text-gray-700 dark:text-gray-50">
        <button class="min-w-max transition-all duration-200 border rounded-lg px-4 border-8 border-green-400 mx-1 cursor-pointer text-md hover:bg-green-100 hover:text-gray-700 shadow-md">
        ส่งทั้งหมด
        </button>
        <%= link_to "สร้างวง", wongshare_new_path, :class => "min-w-max transition-all duration-200 border rounded-lg px-4 border-8 border-green-400 hover:bg-green-100 mx-1 cursor-pointer text-md hover:text-gray-700 shadow-md"%>
    </div>
    <%# Data Table %>
    <div class="border-b shadow-md border-gray-400 h-full">
        <table class="table-fixed border-collapse text-sm">
            <thead class="border-b-2 border-gray-300 shadow-md text-lg">
                <tr class="border-b text-gray-700 dark:text-gray-50">
                    <th class="w-2/12">ชื่อวง</th>
                    <th class="w-2/12 hidden md:table-cell">ประเภท</th>
                    <th class="w-2/12 ">ยอดส่ง</th>
                    <th class="w-3/12 hidden md:table-cell md:w-72">เงินต้น</th>
                    <th class="w-2/12">งวดต่อไป</th>
                    <th class="w-3/12">จัดการ</th>
                </tr>
            </thead>
            <tbody class="text-center text-gray-700 dark:text-gray-50 border-none">
                <% @wongs.each do |w,index|%>
                    <tr class="">
                        <td class="md:py-4 break-all"><a data-method="get" href= <%= wongshare_path(w.id,:baanId =>@baanId) %> class="hover:text-gray-500"><%= w.name %></a></td>
                        <td class="hidden md:table-cell md:py-4 break-all"><%= w.wong_type%></td>
                        <td class="md:py-4"><%= w.interest%></td>
                        <td class="hidden md:table-cell md:py-4"><%= w.deposite%></td>
                        <td class="md:py-4"><%= w.nextCycle().strftime('%d/%m')%><span class="inline md:hidden"><%= w.nextCycle().strftime('/%y')%></span><span class="hidden md:inline"><%= w.nextCycle().strftime('/%Y')%></span></td>
                        <td class="md:py-4 flex flex-col md:flex-row p-1 items-center justify-center">
                            <button class="min-w-max flex-none transition-all duration-200 border rounded-lg px-4 border-8 border-green-400 hover:bg-green-100 md:mr-2 mb-1 md:mb-0 cursor-pointer text-md dark:text-gray-50 text-gray-700 hover:text-gray-700 shadow-sm" id="pay">ส่ง</button>
                            <%= form_with url: "", method: :post, class: " flex flex-row justify-center" do |form|%>
                                <%if w.bit == 0%>
                                        <%= form.text_field :bit, placeholder: "ราคาบิท", class: "w-full mx-3 my-1 md:my-0 md:mx-0 px-1 transition-all duration-200 text-xs text-center border-2 outline-none dark:bg-gray-800" %>
                                        <%= form.submit "บิท", class: "hidden md:block min-w-max transition-all duration-200 border-1 border-l-0 border-green-300 rounded-xl rounded-l-none px-2 cursor-pointer text-md text-gray-700 bg-transparent dark:bg-gray-800 dark:text-gray-50 hover:text-gray-700 bg-gray-200 hover:bg-green-300 shadow-sm" %>
                                <%else%>
                                        <%= form.text_field :bit, placeholder: "ราคาบิท", class: "pointer-events-none opacity-90 w-full mx-3 my-1 md:my-0 md:mx-0 px-1 transition-all duration-200 text-xs text-center border-2 outline-none dark:bg-gray-800" %>
                                        <%= form.submit "บิท", class: "pointer-events-none opacity-90 hidden md:block min-w-max transition-all duration-200 border-1 border-l-0 border-green-300 rounded-xl rounded-l-none px-2 cursor-pointer text-md text-gray-700 bg-transparent dark:bg-gray-800 dark:text-gray-50 hover:text-gray-700 bg-gray-200 hover:bg-green-300 shadow-sm" %>
                                <%end%>
                            <%end%>
                        </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
    </div>
</div>