<div class="flex flex-col w-full items-center my-5">
    <h1 class="text-2xl text-left w-full border-b">ยอดสรุปรวม</h1>
    <!--select date-->
    <div class="w-full flex flex-col justify-center mt-5">
        <%= form_for :select, method: :get do |f| %>
            <div class="flex flex-col items-center justify-center my-2
             md:flex-row md:justify-between">
                <div>
                    <%=f.label 'เลือกวันที่:', class: 'text-xl my-4'%>
                </div>
                <div>
                    <%=f.date_field :start_date, value: @start, class: 'text-center border-b-2 focus:border-green-500 outline-none 
                                                            w-full md:w-auto dark:bg-gray-700'%>
                    <%=f.date_field :end_date, value: @end, class: 'text-center border-b-2 focus:border-green-500 outline-none 
                                                                w-full md:w-auto dark:bg-gray-700'%>
                    <%=f.submit 'ค้นหา', class: '
                    transition-all duration-200 
                    border border-green-500 rounded-sm
                    mx-2 px-4 mt-2 md:mt-0 cursor-pointer 
                    text-md text-gray-100 
                    bg-green-500
                    hover:text-white hover:bg-green-600 hover:border-green-600
                    shadow-md'%> 
                </div>   
            </div>
        <%end%>
    </div>
    <!--table-->
    <div class="w-full">
        <%=render partial: 'table', locals:{}%>
    </div>
</div>
